<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mabeproductions.app.smartereveryday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity
            android:name=".DailyFactActivity"
            android:theme="@style/AppThemeNoBar">

        </activity>
        <activity android:name=".AllFacts"></activity>

        <activity android:name=".TabLoader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
